USE [master]
GO
/****** Object:  Database [db30117]    Script Date: 11/5/2025 3:19:16 PM ******/
CREATE DATABASE [db30117]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db30117', FILENAME = N'D:\Services\MSSQL\Data\db30117.mdf' , SIZE = 73728KB , MAXSIZE = 1048576KB , FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'db30117_log', FILENAME = N'D:\Services\MSSQL\Data\db30117_log.ldf' , SIZE = 8192KB , MAXSIZE = 5242880KB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db30117].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db30117]
GO
/****** Object:  FullTextCatalog [db30117]    Script Date: 11/5/2025 3:19:19 PM ******/
CREATE FULLTEXT CATALOG [db30117] WITH ACCENT_SENSITIVITY = ON
AS DEFAULT
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 11/5/2025 3:19:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuctionResult]    Script Date: 11/5/2025 3:19:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuctionResult](
	[AuctionResultId] [uniqueidentifier] NOT NULL,
	[ListingId] [uniqueidentifier] NULL,
	[WinnerId] [uniqueidentifier] NULL,
	[WinningBid] [decimal](18, 2) NULL,
	[WinnerMaxBid] [decimal](18, 2) NULL,
	[CompletedAt] [datetime] NULL,
	[Status] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[AuctionResultId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bid]    Script Date: 11/5/2025 3:19:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bid](
	[BidId] [uniqueidentifier] NOT NULL,
	[ListingId] [uniqueidentifier] NULL,
	[BidderId] [uniqueidentifier] NULL,
	[MaxBidAmount] [decimal](18, 2) NULL,
	[ProxyActive] [bit] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[BidId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Conversation]    Script Date: 11/5/2025 3:19:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Conversation](
	[ConversationId] [uniqueidentifier] NOT NULL,
	[ListingId] [uniqueidentifier] NULL,
	[SellerId] [uniqueidentifier] NULL,
	[BuyerId] [uniqueidentifier] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[Status] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ConversationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Favorite]    Script Date: 11/5/2025 3:19:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Favorite](
	[FavoriteId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NULL,
	[ListingId] [uniqueidentifier] NULL,
	[CreatedAt] [datetime] NULL,
 CONSTRAINT [PK_Favorite] PRIMARY KEY CLUSTERED 
(
	[FavoriteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FeeCommission]    Script Date: 11/5/2025 3:19:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FeeCommission](
	[FeeId] [uniqueidentifier] NOT NULL,
	[FeeName] [nvarchar](100) NULL,
	[FeeType] [nvarchar](20) NULL,
	[Amount] [decimal](18, 2) NULL,
	[PackageDurationDays] [int] NULL,
	[MaxListings] [int] NULL,
	[SavingAmount] [decimal](18, 2) NULL,
	[Description] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NULL,
	[Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[FeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Item]    Script Date: 11/5/2025 3:19:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Item](
	[ItemId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NULL,
	[SerialNumber] [nvarchar](100) NULL,
	[Title] [nvarchar](255) NULL,
	[Brand] [nvarchar](100) NULL,
	[Model] [nvarchar](100) NULL,
	[Year] [int] NULL,
	[Mileage] [nvarchar](100) NULL,
	[BatteryCapacity] [int] NULL,
	[Capacity] [nvarchar](100) NULL,
	[Cycles] [int] NULL,
	[Condition] [nvarchar](200) NULL,
	[Price] [decimal](18, 2) NULL,
	[Status] [nvarchar](20) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[ItemTypeId] [uniqueidentifier] NULL,
	[VideoUrl] [nvarchar](1000) NULL,
	[BatteryIncluded] [nvarchar](100) NULL,
	[Color] [nvarchar](50) NULL,
	[Fuel] [nvarchar](50) NULL,
	[Gearbox] [nvarchar](50) NULL,
	[LicensePlate] [nvarchar](20) NULL,
	[Origin] [nvarchar](100) NULL,
	[Seat] [nvarchar](50) NULL,
	[Style] [nvarchar](100) NULL,
	[Weight] [nvarchar](50) NULL,
	[Accessories] [bit] NULL,
	[BatteryType] [nvarchar](100) NULL,
	[Engine] [nvarchar](100) NULL,
	[FrameMaterial] [nvarchar](100) NULL,
	[FrameSize] [nvarchar](100) NULL,
	[InspectionValidUntil] [bit] NULL,
	[OwnerCount] [nvarchar](50) NULL,
	[PartType] [nvarchar](100) NULL,
	[Version] [nvarchar](100) NULL,
	[Voltage] [nvarchar](50) NULL,
 CONSTRAINT [PK__Item__727E838B87C1535B] PRIMARY KEY CLUSTERED 
(
	[ItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemImage]    Script Date: 11/5/2025 3:19:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemImage](
	[ItemImageId] [uniqueidentifier] NOT NULL,
	[ItemId] [uniqueidentifier] NOT NULL,
	[Url] [nvarchar](1000) NOT NULL,
	[CreatedAt] [datetime] NULL,
 CONSTRAINT [PK__ItemImag__ItemImageId] PRIMARY KEY CLUSTERED 
(
	[ItemImageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemType]    Script Date: 11/5/2025 3:19:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemType](
	[ItemTypeId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Description] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK__ItemType__ItemTypeId] PRIMARY KEY CLUSTERED 
(
	[ItemTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Listing]    Script Date: 11/5/2025 3:19:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Listing](
	[ListingId] [uniqueidentifier] NOT NULL,
	[ItemId] [uniqueidentifier] NULL,
	[UserId] [uniqueidentifier] NULL,
	[FeeId] [uniqueidentifier] NULL,
	[ListingType] [nvarchar](20) NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[StartPrice] [decimal](18, 2) NULL,
	[BuyNowPrice] [decimal](18, 2) NULL,
	[Status] [nvarchar](20) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[BidIncrement] [decimal](18, 2) NULL,
	[Address] [nvarchar](max) NULL,
	[Detail] [nvarchar](max) NULL,
	[Warranty] [nvarchar](max) NULL,
	[YouAre] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ListingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Message]    Script Date: 11/5/2025 3:19:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Message](
	[MessageId] [uniqueidentifier] NOT NULL,
	[ConversationId] [uniqueidentifier] NULL,
	[SenderId] [uniqueidentifier] NULL,
	[Content] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NULL,
	[IsRead] [bit] NULL,
 CONSTRAINT [PK__Message__C87C0C9C30C26245] PRIMARY KEY CLUSTERED 
(
	[MessageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OtpSaving]    Script Date: 11/5/2025 3:19:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OtpSaving](
	[OtpSavingId] [uniqueidentifier] NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[OtpHash] [varchar](256) NOT NULL,
	[Salt] [varchar](128) NOT NULL,
	[Attempts] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[ExpiresAt] [datetime] NOT NULL,
	[IsUsed] [bit] NOT NULL,
 CONSTRAINT [PK_OtpSaving] PRIMARY KEY CLUSTERED 
(
	[OtpSavingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentTransaction]    Script Date: 11/5/2025 3:19:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentTransaction](
	[PaymentId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NULL,
	[FeeId] [uniqueidentifier] NULL,
	[ListingId] [uniqueidentifier] NULL,
	[Amount] [decimal](18, 2) NULL,
	[PaymentMethod] [nvarchar](50) NULL,
	[PaymentStatus] [nvarchar](20) NULL,
	[TransactionRef] [nvarchar](100) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 11/5/2025 3:19:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleId] [uniqueidentifier] NOT NULL,
	[RoleName] [nvarchar](50) NULL,
	[Description] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 11/5/2025 3:19:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserId] [uniqueidentifier] NOT NULL,
	[RoleId] [uniqueidentifier] NULL,
	[FullName] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[Phone] [nvarchar](20) NULL,
	[PasswordHash] [nvarchar](255) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[Status] [nvarchar](20) NULL,
	[Balance] [decimal](18, 2) NOT NULL,
	[Address] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserPackage]    Script Date: 11/5/2025 3:19:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserPackage](
	[UserId] [uniqueidentifier] NOT NULL,
	[FeeId] [uniqueidentifier] NOT NULL,
	[RemainingListings] [int] NOT NULL,
	[ActivatedAt] [datetime] NOT NULL,
	[ExpiredAt] [datetime] NOT NULL,
	[Status] [nvarchar](20) NULL,
 CONSTRAINT [PK_UserPackage] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[FeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserReputationReview]    Script Date: 11/5/2025 3:19:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserReputationReview](
	[ReputationReviewId] [uniqueidentifier] NOT NULL,
	[ReviewerId] [uniqueidentifier] NULL,
	[RevieweeId] [uniqueidentifier] NULL,
	[ItemId] [uniqueidentifier] NULL,
	[Rating] [int] NULL,
	[Comment] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NULL,
	[ListingId] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[ReputationReviewId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_Favorite_ListingId]    Script Date: 11/5/2025 3:19:19 PM ******/
CREATE NONCLUSTERED INDEX [IX_Favorite_ListingId] ON [dbo].[Favorite]
(
	[ListingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Favorite_User_Listing]    Script Date: 11/5/2025 3:19:19 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Favorite_User_Listing] ON [dbo].[Favorite]
(
	[UserId] ASC,
	[ListingId] ASC
)
WHERE ([UserId] IS NOT NULL AND [ListingId] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Item_ItemTypeId]    Script Date: 11/5/2025 3:19:19 PM ******/
CREATE NONCLUSTERED INDEX [IX_Item_ItemTypeId] ON [dbo].[Item]
(
	[ItemTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Item__048A000870549516]    Script Date: 11/5/2025 3:19:19 PM ******/
CREATE NONCLUSTERED INDEX [UQ__Item__048A000870549516] ON [dbo].[Item]
(
	[SerialNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ItemImage_ItemId]    Script Date: 11/5/2025 3:19:19 PM ******/
CREATE NONCLUSTERED INDEX [IX_ItemImage_ItemId] ON [dbo].[ItemImage]
(
	[ItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_OtpSaving_Phone]    Script Date: 11/5/2025 3:19:19 PM ******/
CREATE NONCLUSTERED INDEX [IX_OtpSaving_Phone] ON [dbo].[OtpSaving]
(
	[Phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Role_RoleName]    Script Date: 11/5/2025 3:19:19 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Role_RoleName] ON [dbo].[Role]
(
	[RoleName] ASC
)
WHERE ([RoleName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_User_Email]    Script Date: 11/5/2025 3:19:19 PM ******/
CREATE NONCLUSTERED INDEX [IX_User_Email] ON [dbo].[User]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserPackage_FeeId]    Script Date: 11/5/2025 3:19:19 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserPackage_FeeId] ON [dbo].[UserPackage]
(
	[FeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserReputationReview_ListingId]    Script Date: 11/5/2025 3:19:19 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserReputationReview_ListingId] ON [dbo].[UserReputationReview]
(
	[ListingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AuctionResult] ADD  DEFAULT (newid()) FOR [AuctionResultId]
GO
ALTER TABLE [dbo].[Bid] ADD  DEFAULT (newid()) FOR [BidId]
GO
ALTER TABLE [dbo].[Conversation] ADD  DEFAULT (newid()) FOR [ConversationId]
GO
ALTER TABLE [dbo].[Favorite] ADD  DEFAULT (newid()) FOR [FavoriteId]
GO
ALTER TABLE [dbo].[FeeCommission] ADD  DEFAULT (newid()) FOR [FeeId]
GO
ALTER TABLE [dbo].[Item] ADD  CONSTRAINT [DF__Item__ItemId__5441852A]  DEFAULT (newid()) FOR [ItemId]
GO
ALTER TABLE [dbo].[ItemImage] ADD  DEFAULT (newid()) FOR [ItemImageId]
GO
ALTER TABLE [dbo].[ItemType] ADD  DEFAULT (newid()) FOR [ItemTypeId]
GO
ALTER TABLE [dbo].[Listing] ADD  DEFAULT (newid()) FOR [ListingId]
GO
ALTER TABLE [dbo].[Message] ADD  CONSTRAINT [DF__Message__Message__571DF1D5]  DEFAULT (newid()) FOR [MessageId]
GO
ALTER TABLE [dbo].[OtpSaving] ADD  DEFAULT (newid()) FOR [OtpSavingId]
GO
ALTER TABLE [dbo].[OtpSaving] ADD  DEFAULT ((0)) FOR [Attempts]
GO
ALTER TABLE [dbo].[PaymentTransaction] ADD  DEFAULT (newid()) FOR [PaymentId]
GO
ALTER TABLE [dbo].[Role] ADD  DEFAULT (newid()) FOR [RoleId]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT (newid()) FOR [UserId]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ((0.0)) FOR [Balance]
GO
ALTER TABLE [dbo].[UserReputationReview] ADD  DEFAULT (newid()) FOR [ReputationReviewId]
GO
ALTER TABLE [dbo].[AuctionResult]  WITH CHECK ADD FOREIGN KEY([ListingId])
REFERENCES [dbo].[Listing] ([ListingId])
GO
ALTER TABLE [dbo].[AuctionResult]  WITH CHECK ADD FOREIGN KEY([ListingId])
REFERENCES [dbo].[Listing] ([ListingId])
GO
ALTER TABLE [dbo].[AuctionResult]  WITH CHECK ADD FOREIGN KEY([ListingId])
REFERENCES [dbo].[Listing] ([ListingId])
GO
ALTER TABLE [dbo].[AuctionResult]  WITH CHECK ADD FOREIGN KEY([WinnerId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[AuctionResult]  WITH CHECK ADD FOREIGN KEY([WinnerId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[AuctionResult]  WITH CHECK ADD FOREIGN KEY([WinnerId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Bid]  WITH CHECK ADD FOREIGN KEY([BidderId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Bid]  WITH CHECK ADD FOREIGN KEY([BidderId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Bid]  WITH CHECK ADD FOREIGN KEY([BidderId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Bid]  WITH CHECK ADD FOREIGN KEY([ListingId])
REFERENCES [dbo].[Listing] ([ListingId])
GO
ALTER TABLE [dbo].[Bid]  WITH CHECK ADD FOREIGN KEY([ListingId])
REFERENCES [dbo].[Listing] ([ListingId])
GO
ALTER TABLE [dbo].[Bid]  WITH CHECK ADD FOREIGN KEY([ListingId])
REFERENCES [dbo].[Listing] ([ListingId])
GO
ALTER TABLE [dbo].[Conversation]  WITH CHECK ADD FOREIGN KEY([BuyerId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Conversation]  WITH CHECK ADD FOREIGN KEY([BuyerId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Conversation]  WITH CHECK ADD FOREIGN KEY([BuyerId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Conversation]  WITH CHECK ADD  CONSTRAINT [FK__Conversat__Listi__72C60C4A] FOREIGN KEY([ListingId])
REFERENCES [dbo].[Listing] ([ListingId])
GO
ALTER TABLE [dbo].[Conversation] CHECK CONSTRAINT [FK__Conversat__Listi__72C60C4A]
GO
ALTER TABLE [dbo].[Conversation]  WITH CHECK ADD FOREIGN KEY([SellerId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Conversation]  WITH CHECK ADD FOREIGN KEY([SellerId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Conversation]  WITH CHECK ADD FOREIGN KEY([SellerId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Favorite]  WITH CHECK ADD  CONSTRAINT [FK_Favorite_Listing] FOREIGN KEY([ListingId])
REFERENCES [dbo].[Listing] ([ListingId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Favorite] CHECK CONSTRAINT [FK_Favorite_Listing]
GO
ALTER TABLE [dbo].[Favorite]  WITH CHECK ADD  CONSTRAINT [FK_Favorite_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Favorite] CHECK CONSTRAINT [FK_Favorite_User]
GO
ALTER TABLE [dbo].[Item]  WITH CHECK ADD  CONSTRAINT [FK__Item__ItemTypeId] FOREIGN KEY([ItemTypeId])
REFERENCES [dbo].[ItemType] ([ItemTypeId])
GO
ALTER TABLE [dbo].[Item] CHECK CONSTRAINT [FK__Item__ItemTypeId]
GO
ALTER TABLE [dbo].[Item]  WITH CHECK ADD  CONSTRAINT [FK__Item__UserId__06CD04F7] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Item] CHECK CONSTRAINT [FK__Item__UserId__06CD04F7]
GO
ALTER TABLE [dbo].[Item]  WITH CHECK ADD  CONSTRAINT [FK__Item__UserId__2739D489] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Item] CHECK CONSTRAINT [FK__Item__UserId__2739D489]
GO
ALTER TABLE [dbo].[Item]  WITH CHECK ADD  CONSTRAINT [FK__Item__UserId__6477ECF3] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Item] CHECK CONSTRAINT [FK__Item__UserId__6477ECF3]
GO
ALTER TABLE [dbo].[ItemImage]  WITH CHECK ADD  CONSTRAINT [FK__ItemImage__ItemId] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Item] ([ItemId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ItemImage] CHECK CONSTRAINT [FK__ItemImage__ItemId]
GO
ALTER TABLE [dbo].[Listing]  WITH CHECK ADD FOREIGN KEY([FeeId])
REFERENCES [dbo].[FeeCommission] ([FeeId])
GO
ALTER TABLE [dbo].[Listing]  WITH CHECK ADD FOREIGN KEY([FeeId])
REFERENCES [dbo].[FeeCommission] ([FeeId])
GO
ALTER TABLE [dbo].[Listing]  WITH CHECK ADD FOREIGN KEY([FeeId])
REFERENCES [dbo].[FeeCommission] ([FeeId])
GO
ALTER TABLE [dbo].[Listing]  WITH CHECK ADD  CONSTRAINT [FK__Listing__ItemId__08B54D69] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Item] ([ItemId])
GO
ALTER TABLE [dbo].[Listing] CHECK CONSTRAINT [FK__Listing__ItemId__08B54D69]
GO
ALTER TABLE [dbo].[Listing]  WITH CHECK ADD  CONSTRAINT [FK__Listing__ItemId__29221CFB] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Item] ([ItemId])
GO
ALTER TABLE [dbo].[Listing] CHECK CONSTRAINT [FK__Listing__ItemId__29221CFB]
GO
ALTER TABLE [dbo].[Listing]  WITH CHECK ADD  CONSTRAINT [FK__Listing__ItemId__66603565] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Item] ([ItemId])
GO
ALTER TABLE [dbo].[Listing] CHECK CONSTRAINT [FK__Listing__ItemId__66603565]
GO
ALTER TABLE [dbo].[Listing]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Listing]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Listing]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Message]  WITH CHECK ADD  CONSTRAINT [FK__Message__Convers__0A9D95DB] FOREIGN KEY([ConversationId])
REFERENCES [dbo].[Conversation] ([ConversationId])
GO
ALTER TABLE [dbo].[Message] CHECK CONSTRAINT [FK__Message__Convers__0A9D95DB]
GO
ALTER TABLE [dbo].[Message]  WITH CHECK ADD  CONSTRAINT [FK__Message__Convers__2B0A656D] FOREIGN KEY([ConversationId])
REFERENCES [dbo].[Conversation] ([ConversationId])
GO
ALTER TABLE [dbo].[Message] CHECK CONSTRAINT [FK__Message__Convers__2B0A656D]
GO
ALTER TABLE [dbo].[Message]  WITH CHECK ADD  CONSTRAINT [FK__Message__Convers__68487DD7] FOREIGN KEY([ConversationId])
REFERENCES [dbo].[Conversation] ([ConversationId])
GO
ALTER TABLE [dbo].[Message] CHECK CONSTRAINT [FK__Message__Convers__68487DD7]
GO
ALTER TABLE [dbo].[Message]  WITH CHECK ADD  CONSTRAINT [FK__Message__SenderI__0B91BA14] FOREIGN KEY([SenderId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Message] CHECK CONSTRAINT [FK__Message__SenderI__0B91BA14]
GO
ALTER TABLE [dbo].[Message]  WITH CHECK ADD  CONSTRAINT [FK__Message__SenderI__2BFE89A6] FOREIGN KEY([SenderId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Message] CHECK CONSTRAINT [FK__Message__SenderI__2BFE89A6]
GO
ALTER TABLE [dbo].[Message]  WITH CHECK ADD  CONSTRAINT [FK__Message__SenderI__693CA210] FOREIGN KEY([SenderId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Message] CHECK CONSTRAINT [FK__Message__SenderI__693CA210]
GO
ALTER TABLE [dbo].[PaymentTransaction]  WITH CHECK ADD FOREIGN KEY([FeeId])
REFERENCES [dbo].[FeeCommission] ([FeeId])
GO
ALTER TABLE [dbo].[PaymentTransaction]  WITH CHECK ADD FOREIGN KEY([FeeId])
REFERENCES [dbo].[FeeCommission] ([FeeId])
GO
ALTER TABLE [dbo].[PaymentTransaction]  WITH CHECK ADD FOREIGN KEY([FeeId])
REFERENCES [dbo].[FeeCommission] ([FeeId])
GO
ALTER TABLE [dbo].[PaymentTransaction]  WITH CHECK ADD FOREIGN KEY([ListingId])
REFERENCES [dbo].[Listing] ([ListingId])
GO
ALTER TABLE [dbo].[PaymentTransaction]  WITH CHECK ADD FOREIGN KEY([ListingId])
REFERENCES [dbo].[Listing] ([ListingId])
GO
ALTER TABLE [dbo].[PaymentTransaction]  WITH CHECK ADD FOREIGN KEY([ListingId])
REFERENCES [dbo].[Listing] ([ListingId])
GO
ALTER TABLE [dbo].[PaymentTransaction]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[PaymentTransaction]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[PaymentTransaction]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([RoleId])
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([RoleId])
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([RoleId])
GO
ALTER TABLE [dbo].[UserPackage]  WITH CHECK ADD  CONSTRAINT [FK_UserPackage_FeeCommission] FOREIGN KEY([FeeId])
REFERENCES [dbo].[FeeCommission] ([FeeId])
GO
ALTER TABLE [dbo].[UserPackage] CHECK CONSTRAINT [FK_UserPackage_FeeCommission]
GO
ALTER TABLE [dbo].[UserPackage]  WITH CHECK ADD  CONSTRAINT [FK_UserPackage_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[UserPackage] CHECK CONSTRAINT [FK_UserPackage_User]
GO
ALTER TABLE [dbo].[UserReputationReview]  WITH CHECK ADD  CONSTRAINT [FK__UserReput__Listi__797309D9] FOREIGN KEY([ListingId])
REFERENCES [dbo].[Listing] ([ListingId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserReputationReview] CHECK CONSTRAINT [FK__UserReput__Listi__797309D9]
GO
ALTER TABLE [dbo].[UserReputationReview]  WITH CHECK ADD FOREIGN KEY([ReviewerId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[UserReputationReview]  WITH CHECK ADD FOREIGN KEY([RevieweeId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[UserReputationReview]  WITH CHECK ADD FOREIGN KEY([ReviewerId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[UserReputationReview]  WITH CHECK ADD FOREIGN KEY([RevieweeId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[UserReputationReview]  WITH CHECK ADD FOREIGN KEY([ReviewerId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[UserReputationReview]  WITH CHECK ADD FOREIGN KEY([RevieweeId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[UserReputationReview]  WITH CHECK ADD  CONSTRAINT [FK_UserReputationReview_Item_ItemId] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Item] ([ItemId])
GO
ALTER TABLE [dbo].[UserReputationReview] CHECK CONSTRAINT [FK_UserReputationReview_Item_ItemId]
GO
USE [master]
GO
